<div class="tableContainer">
	<table border="1">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Dirección</th>
				<th>Código Postal</th>
				<th>Pueblo</th>
				<th>Provincia</th>
				<th>Comunidad Autonómica</th>
				<th>Teléfono</th>
				<th>Fax</th>
				<th>Correo Electrónico</th>
				<th>Juez Representante</th>
			</tr>
		</thead>
		<tbody>
			@for(juzgado of this.juzgadoService.resultados; track juzgado) {
			<tr>
				<td>{{ juzgado.nombre }}</td>
				<td>{{ juzgado.direccion }}</td>
				<td>{{ juzgado.codigo_postal }}</td>
				<td>{{ juzgado.pueblo }}</td>
				<td>{{ juzgado.provincia }}</td>
				<td>{{ juzgado.comunidad }}</td>
				<td>{{ juzgado.telefono }}</td>
				<td>{{ juzgado.fax }}</td>
				<td>{{ juzgado.correo }}</td>
				<td>{{ juzgado.juez }}</td>
			</tr>
			}
		</tbody>
	</table>
</div>
