<div class="buscador">
	<h3>Escribe en los campos para buscar</h3>

	<table>
		<tbody>
			<tr>
				<td>
					<span>Nombre o parte del nombre del Juzgado </span>
				</td>
				<td>
					<input type="text" id="nombre" placeholder="Nombre o parte del nombre del Juzgado" (change)="this.busca()" />
				</td>
			</tr>
			<tr>
				<td>
					<span>Nombre del pueblo del Juzgado </span>
				</td>
				<td>
					<input type="text" id="pueblo" placeholder="Nombre del pueblo del Juzgado" (change)="this.busca()" />
				</td>
			</tr>
			<tr>
				<td>
					<span>Nombre de la provincia del Juzgado </span>
				</td>
				<td>
					<input type="text" id="provincia" placeholder="Nombre de la provincia del Juzgado" (change)="this.busca()" />
				</td>
			</tr>
			<tr>
				<td>
					<span>Nombre de la comunidad autonómica del Juzgado </span>
				</td>
				<td>
					<input type="text" id="comunidad" placeholder="Nombre de la comunidad autonómica del Juzgado" (change)="this.busca()" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
